---
import '@/styles/globals.css'
import Layout from '@/layouts/layout.astro'

import { Image } from 'astro:assets'

import { getCollection } from 'astro:content'

const musicPosts = (await getCollection('albums'))
  .sort((a, b) => (new Date(a.data.post_date) > new Date(b.data.post_date) ? -1 : 1))
  .slice(0, 8)

const bookPosts = (await getCollection('books'))
  .sort((a, b) => (new Date(a.data.read) > new Date(b.data.read) ? -1 : 1))
  .slice(0, 8)

const animePosts = (await getCollection('anime'))
  .sort((a, b) => {
    let aDate: Date
    if (a.data.releaseDate) aDate = a.data.releaseDate
    else if (a.data.startDate) aDate = a.data.startDate
    else return 1
    let bDate: Date
    if (b.data.releaseDate) bDate = b.data.releaseDate
    else if (b.data.startDate) bDate = b.data.startDate
    else return -1
    return aDate > bDate ? -1 : 1
  })
  .slice(0, 8)
---

<Layout>
  <div
    class="container mx-auto flex h-screen w-full max-w-4xl flex-col items-start gap-y-12 px-4 pt-4 lg:px-0"
  >
    <div class="px-auto py-2">
      <h1 class="py-4 text-6xl font-bold">Nathan's Blog</h1>
      <p class="text-xl">This is a blog for me to post about music, anime and books that I like.</p>
    </div>
    <div class="px-auto items-start space-y-4">
      <a href="music/" class="text-4xl font-bold hover:underline">Recent Music Posts...</a>
      <div
        class="px-auto container mx-auto grid w-full max-w-3xl grid-cols-2 flex-wrap items-center gap-6 px-4 pb-12 pt-4 sm:grid-cols-3 md:grid-cols-4 lg:px-0"
      >
        {
          musicPosts.map((post: any) => (
            <a href={`/music/${post.slug}`} class="flex flex-col">
              <div>
                <Image
                  class="rounded shadow"
                  src={post.data.cover_art_url}
                  alt={post.data.album}
                  width="400"
                  height="400"
                />
              </div>
              <p class="truncate pt-4 font-semibold">{post.data.album}</p>
              <p class="pt-1">{post.data.artist}</p>
            </a>
          ))
        }
      </div>
    </div>
    <div class="px-auto items-start space-y-4">
      <a href="anime/" class="py-4 text-4xl font-bold hover:underline">Recent Anime Posts...</a>
      <div
        class="px-auto container mx-auto grid w-full max-w-3xl grid-cols-2 flex-wrap items-center gap-6 px-4 pb-12 pt-4 sm:grid-cols-3 md:grid-cols-4 lg:px-0"
      >
        {
          animePosts.map((post: any) => (
            <a href={`/anime/${post.slug}`} class="flex flex-col">
              <div>
                <Image
                  class="rounded shadow"
                  src={post.data.art}
                  alt={post.data.title}
                  width="400"
                  height="400"
                />
              </div>
              <p class="truncate pt-4 font-semibold">{post.data.title}</p>
              <p class="pt-1">{post.data.studio}</p>
            </a>
          ))
        }
      </div>
    </div>
    <div class="px-auto items-start space-y-4">
      <a href="books/" class="py-4 text-4xl font-bold hover:underline">Recent Book Posts...</a>
      <div
        class="px-auto container mx-auto grid w-full max-w-3xl grid-cols-2 flex-wrap items-center gap-6 px-4 pb-12 pt-4 sm:grid-cols-3 md:grid-cols-4 lg:px-0"
      >
        {
          bookPosts.map((post: any) => (
            <a href={`/books/${post.slug}`} class="flex flex-col">
              <div>
                <Image
                  class="rounded shadow"
                  src={post.data.cover_image}
                  alt={post.data.title}
                  width="400"
                  height="400"
                />
              </div>
              <p class="truncate pt-4 font-semibold">{post.data.title}</p>
              <p class="pt-1">{post.data.author}</p>
            </a>
          ))
        }
      </div>
    </div>
    <div class="px-auto items-start pb-32">
      <h1 class="py-2 text-2xl font-bold">Recent Movie Posts</h1>
      <p class="text-lg">Coming Soon...</p>
    </div>
  </div>
</Layout>
