---
import Layout from '@/layouts/layout.astro'
import { Image } from 'astro:assets'

import { getCollection } from 'astro:content'

const posts = (await getCollection('books')).sort((a, b) =>
  new Date(a.data.published) > new Date(b.data.published) ? -1 : 1,
)
---

<Layout title="Favorite Books" description="My favorite books.">
  <div
    class="px-auto container mx-auto grid w-full max-w-3xl grid-cols-2 flex-wrap items-center gap-6 px-4 pb-12 pt-4 sm:grid-cols-3 lg:px-0"
  >
    {
      posts.map((post: any) => (
        <a href={`/books/${post.slug}`} class="flex flex-col">
          <div transition:name={`book-${post.slug}`}>
            <Image
              class="rounded shadow"
              src={post.data.cover_image}
              alt={post.data.title}
              width="400"
              height="400"
            />
          </div>
          <p class="truncate pt-4 font-semibold">{post.data.title}</p>
          <p class="pt-1">{post.data.author}</p>
        </a>
      ))
    }
  </div>
</Layout>
